<div class="document-footer">
  <p>Thank you for your business!</p>
  <p>This is a computer-generated document. No signature is required.</p>
  {{#ifExists organization.website}}
  <p>{{organization.website}}</p>
  {{/ifExists}}
</div>
